.slidev-layout.default {
  padding-left: 1.5rem;
}

.slidev-layout.center h1 {
  margin: 0;
}

table {
  min-width: 700px;
  min-height: 300px;
  font-size: 1.5rem;
}

th {
  font-size: 1rem;
}

.slidev-layout ul,
.slidev-layout ol {
  padding-left: 1.5rem;
}
.slidev-layout ul {
  list-style-type: disc;
}
.slidev-layout ol {
  list-style-type: decimal;
}
.slidev-layout ul ul {
  list-style-type: circle;
}
